# Data wrangling

In [1]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           cwurData.csv   pokemon.csv
antropometria00.csv        data.csv       sample_pivot.csv
antropometria-dataset.csv  headbrain.csv  tips.csv
Canada.xlsx                mic.xlsx       weight-height.csv
Cartwheeldata.csv          movies.csv

In [2]:
# pip install xlrd

In [3]:
# pip install openpyxl

In [4]:
import pandas as pd

In [5]:
df = pd.read_excel('datasets/Canada.xlsx',
                  engine = 'openpyxl',
                  sheet_name = 'Canada by Citizenship', 
                  skiprows = range(20),
                  )
df.columns

Index([       'Type',    'Coverage',      'OdName',        'AREA',
          'AreaName',         'REG',     'RegName',         'DEV',
           'DevName',          1980,          1981,          1982,
                1983,          1984,          1985,          1986,
                1987,          1988,          1989,          1990,
                1991,          1992,          1993,          1994,
                1995,          1996,          1997,          1998,
                1999,          2000,          2001,          2002,
                2003,          2004,          2005,          2006,
                2007,          2008,          2009,          2010,
                2011,          2012,          2013, 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [6]:
df.drop(['Type',    'Coverage',      'REG',        'DEV','Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
       axis = 1, 
       inplace = True
       )

In [7]:
df.columns

Index([  'OdName',     'AREA', 'AreaName',  'RegName',  'DevName',       1980,
             1981,       1982,       1983,       1984,       1985,       1986,
             1987,       1988,       1989,       1990,       1991,       1992,
             1993,       1994,       1995,       1996,       1997,       1998,
             1999,       2000,       2001,       2002,       2003,       2004,
             2005,       2006,       2007,       2008,       2009,       2010,
             2011,       2012,       2013],
      dtype='object')

In [8]:
df.rename(columns = {'OdName':'Country', 
                     'AreaName':'Continent',
                     'RegName': 'Region'},
          inplace = True)
df.columns

Index([  'Country',      'AREA', 'Continent',    'Region',   'DevName',
              1980,        1981,        1982,        1983,        1984,
              1985,        1986,        1987,        1988,        1989,
              1990,        1991,        1992,        1993,        1994,
              1995,        1996,        1997,        1998,        1999,
              2000,        2001,        2002,        2003,        2004,
              2005,        2006,        2007,        2008,        2009,
              2010,        2011,        2012,        2013],
      dtype='object')

In [9]:
df.head(2)

,Country,AREA,Continent,Region,DevName,1980,1981,1982,1983,1984,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,935.0,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,...,2978.0,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0
1,Albania,908.0,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,...,1450.0,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0

In [24]:
df['Total'] = df.iloc[:, 5:39].sum(axis=1)
#df.iloc[:, 4:]
df.head(2)

,Country,AREA,Continent,Region,DevName,1980,1981,1982,1983,1984,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,935.0,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,...,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,58639.0
1,Albania,908.0,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,...,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0,15699.0

In [33]:
df.columns = list(map(str, df.columns))
df.columns

Index(['Country', 'AREA', 'Continent', 'Region', 'DevName', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', 'Total'],
      dtype='object')

In [34]:
df['Total2'] = df.loc[:, '1980':'2013'].sum(axis=1)
df.head(2)

,Country,AREA,Continent,Region,DevName,1980,1981,1982,1983,1984,...,2006,2007,2008,2009,2010,2011,2012,2013,Total,Total2
0,Afghanistan,935.0,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,...,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,58639.0,58639.0
1,Albania,908.0,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,...,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0,15699.0,15699.0